@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);


/*###################################################################------Corpo------########################################################################*/

body{
    background-color: #000;
    height: 1068px;
   
}

 .bg-img {
    background-image: url(../Imagens/caspar-camille-rubin-HUBNTCzE-R8-unsplash.jpg);
    
    background-repeat:no-repeat ;
    background-size: 1950px 950px;
    filter: blur(5px);
    position: fixed;
    width: 99.7%;
    height: 99%;
    mix-blend-mode: normal;
    margin-left: -5px;
    

}



/*##############################################################------Barra de Rolagem------##################################################################*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border: 0px none #ffffff;
  border-radius: 57px;
}

::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

::-webkit-scrollbar-thumb:active {
  background: #565656;
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 49px;
}

::-webkit-scrollbar-track:hover {
  background: #000000;
}

::-webkit-scrollbar-track:active {
  background: #000000;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/*################################################################------Area Central------####################################################################*/

.Janela-Central{
    
    position: absolute;
    width: 830px;
    height: 730px;
    left: 27%;
    top: 73px;
    
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
    box-shadow: 3px 4px rgba(41, 41, 41 , 0.2),
    -3px -4px rgba(41, 41, 41 , 0.2), 
    3px -4px rgba(41, 41, 41 , 0.2) ,
    -3px 4px rgba(41, 41, 41 , 0.2);
}

.logo{
    position: absolute;
    width: 202px;
    height: 0px;
    left: 308px;
    top: 150.35px;
    display: flex;
    align-items: center;
}

#email{
    position: absolute;
    width: 527px;
    height: 89px;
    left: 165px;
    top: 295px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 40px;
    font-family: sans-serif;
    box-shadow: 3px 4px  rgb(41, 41, 41);
    text-align: center;
}

#senha{
    position: absolute;
    width: 527px;
    height: 89px;
    left: 165px;
    top: 437px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 40px;
    font-family: sans-serif;
    box-shadow: 3px 4px  rgb(41, 41, 41);
    text-align: center;
}

.cadastro{
    color: white;
    position: absolute;
    width: 424px;
    height: 32px;
    left: 218px;
    top: 679px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    
}

.recuperação{ 
    color: white;
    position: absolute;
    width: 424px;
    height: 32px;
    left: 175px;
    top: 540px;
    font-family: Roboto;
    font-size: 18px;

}

.Janela-Central a{
    color: #4CA1DE;
    text-decoration: none;
    


}

a:hover{
    color: rgb(41, 60, 236);
    transition: 0.5s;
}

#button-login{
    border:  black solid 3px;
    border-radius: 10px;
    box-shadow: 3px 4px  rgb(54, 54, 54);
    position: absolute;
    width: 120px;
    height: 60px;
    top: 550px;
    left: 600px;
    font-size: 22px;
    font-family:rubik ;
    color: white;
    text-shadow: 1px -2px 0 #000,-1px -2px 0 #000,2px -1px 0 #000,1px 2px 0 #000, -1px 1px 0 #000;
    background-color: white;
    

}

.button:active{

    box-shadow: 2px 2px  rgb(0, 0, 0);
    transform: translateY(2px) translateX(1px);
    
}

.button:hover{
    color: black;
    text-shadow: 1px -2px 0 rgb(255, 255, 255),-1px -2px 0 rgb(255, 255, 255),2px -1px 0 rgb(255, 255, 255),1px 2px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255);
    border-color: white;
    background-color: black;

}



/*####################################################################----Rodapé----##########################################################################*/

.body-bottom{
    width: 99.3%;
    height: 150px;
    margin-top: 50.5%;
    border-radius: 16px;
    position: absolute;
    backdrop-filter: blur(25px);
    background-color:rgba(0, 0, 0, 0.2);
    
    
 
}

.esquerda{
    display: inline;
    width: 24.7%;
    height: 150px;
    float: left;
    position: relative;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border-radius: 16px 0px 0px 0px;
    margin-left: 0.1%;
    
    
}

.direita{
    
    display: inline;
    width: 24.9%;
    height: 150px;
    float: none;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border-radius: 0px 16px 0px 0px;
    position: absolute;
    
    
}
/*                                                                       ----------Meio----------                                                             */
.meio{
    text-align: center;
    
    display: inline;
    width: 40%;
    padding-left: 5% ;
    padding-right: 5%;
    height: 150px;
    float:left;
    position: relative;
    background-color:rgba(0, 0, 0, 0);
    color: white;
     
}
.meio p{ 
    margin-top: 55px;
    font-family: againts;
    font-size: 36px;

}

/*                                                                        ----------UL----------                                                              */
.esquerda ul{
    
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    margin-top: 40px;


}
.direita ul{
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
    list-style-type: none;
    margin-top: 40px;
    
}



/*                                                                     ----------Divisorias----------                                                         */

/*                                                                       ----------Link----------                                                             */
.body-bottom a{
    text-decoration: none;
    color: #ffffff;
}

.body-bottom a:hover{
    text-decoration: none;
    color: #4CA1DE;
}

